.node {
  width: 20px;
  min-width: 15px;

  height: 20px;

  padding: 1px;
  box-shadow: inset 0 0 0 0.5px lightgrey;
}

.move-start:hover {
  background-color: green;
}

.move-end:hover {
  background-color: red;
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}

.wall {
  background-color: black;
}

.visited {
  background-color: blue;
}

.path {
  background-color: pink;
}