.node {
  width: 25px;
  min-width: 15px;

  height: 25px;

  padding: 1px;
  box-shadow: inset 0 0 0 0.5px #85E0FF;
}

.start {
  color: #CDEDF6;
  font-size: 25px;
}

.end {
  color: #CDEDF6;
  font-size: 20px;
}

.wall {
  animation: wall 1s;
  background-color: #EF7B45;
}

.visited {
  animation: visited 1s;
  background-color: #5EB1BF
}

.path {
  animation: path 1s;
  background-color: #CDEDF6;
}

@keyframes visited {
  0% { background-color: #042A2B;}
  100% { background-color: #5EB1BF; }
}

@keyframes path {
  0% { background-color: #0094C6; }
  100% { background-color: #CDEDF6; }
}

@keyframes wall {
  0% { background-color: #042A2B;}
  100% { background-color: #EF7B45; }
}